
.card.-left-slide 
    ._col.-col-slide 
        .swiper.mySwiper
            .swiper-wrapper 
                .swiper-slide
                    img(src="./img/slide1.jpg" alt="" data-fancybox="gallery").swiper-img
                .swiper-slide
                    img(src="./img/slide2.jpg" alt="" data-fancybox="gallery").swiper-img
                .swiper-slide
                    img(src="./img/slide3.jpg" alt="" data-fancybox="gallery").swiper-img
                .swiper-slide
                    img(src="./img/slide4.jpg" alt="" data-fancybox="gallery").swiper-img
                .swiper-slide
                    img(src="./img/slide5.jpg" alt="" data-fancybox="gallery").swiper-img
                .swiper-slide
                    img(src="./img/slide6.jpg" alt="" data-fancybox="gallery").swiper-img
            .swiper-nav.-horisontal
                .swiper-button-prev
                .swiper-pagination
                .swiper-button-next
    ._col.-col-text 
        .card-text 
            p.__description Cena: 11,50 EUR/m2/mes.
            h2.__title LJ. BEŽIGRAD, DUNAJSKA CESTA, 
            p.__main-text 
                |211,5 m2, pisarna, zgrajena l. 1965, adaptirana l. 2019,
                |2/6 nad., Lepe pisarne na odlični lokaciji, oddamo. 
                |Energ. razred: D (60 - 105 kWh/m2a)
            a.__link(href="#") Dodaten opis