.first-screen(style="background-image:url(./img/bcg-first-screen.jpg)")
    h1.__title.main-title Oddaja in najem pisarn v Ljubljani
    .__btn(style="background-image: url(./img/btn.png") NaroÄite ogled
    .main-socials.__socials
        a.__link.-facebook
            img(src="./img/facebook.png", alt="link facebook").__icon
        a.__link.-instagram
            img(src="./img/instagram.png", alt="link instagram").__icon
        a.__link.-messager
            img(src="./img/messanger.png", alt="link messanger").__icon
