header.header
    .contact-header.__contacts
        a.__item.-tel(href="tel:+38651632777")
            span.__prefix.--tel T   
            span.__tel +386 51 632 777
        a.__item.-mail(href="mailto:indira@inba.si")
            span.__prefix.--mail E 
            span.__mail indira@inba.si
    .__logo
        a.logo(href="index.html")
            img.__icon(src="./img/LOGO.png", alt="logo") 
    .__langs
        a.b-lang.btn-squard(href="#")
            span.__select.-active sl /
            span.__select.-disabled  en
